html, body {
    height: 99%;
}

body {
    background-color: #030608;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-frame {
    padding: 64px;
    display: flex;
    flex-flow: column wrap;
    margin-top: -100px;
}

.plbw-line {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.plbw-el {
    width: 128px;
    height: 16px;

    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.plbw-pink {
    background: #f800fc;
    animation: fadeInAnimation ease 4s;
}

.plbw-lime {
    background: #93fc00;
    animation: fadeInAnimation ease 5.5s;
}

.plbw-blue {
    background: #00fcf8;
    animation: fadeInAnimation ease 7s;
}

.plbw-wite {
    background: #e0e0dc;
    animation: fadeInAnimation ease 8.5s;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 128px;
    color: #e0e0dc;
    margin-top: 20px;
    margin-bottom: 20px;

    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}